body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-image: url(../imagenes/fondo.avif);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   margin: 0;
   padding: 0;
}

#OpcionesUsuarios {
   background-color: #000;
   overflow: hidden;
   padding: 10px 0;
   display: flex;
   justify-content: center;
}

#OpcionesUsuarios button {
   background-color: #000;
   color: #0f0;
   border: 2px solid #0f0;
   padding: 14px 20px;
   text-align: center;
   font-size: 16px;
   cursor: pointer;
   margin: 0 10px;
   transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

#OpcionesUsuarios button a {
   color: #0f0;
   text-decoration: none;
}

#OpcionesUsuarios button a:hover {
   color: #000;
}

#OpcionesUsuarios button:hover {
   background-color: #0f0;
   color: #000;
   box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0;
}

header {
   background-color: rgba(0, 0, 0, 0.0);
   color: white;
   padding: 60px 20px;
   text-align: center;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
   margin: 0;
   font-size: 3em;
   font-weight: bold;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

header p {
   font-size: 1.5em;
   margin-top: 10px;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#opciones {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding: 20px;
   background-image: url(../imagenes/fondo1.jpeg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sect {
    border: 2px solid #00ffcc;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.6);
    text-align: center;
    background-color: #1a1a1a;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.sect:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 255, 204, 1);
}

.letras {
    font-family: 'Arial', sans-serif;
    color: #00ffcc;
    text-shadow: 0 0 5px rgba(0, 255, 204, 0.8);
}

.imgenes {
    width: 150px;
    height: auto;
    margin-top: 10px;
    border: 2px solid #00ffcc;
    border-radius: 10px;
    transition: transform 0.3s;
}

.imgenes:hover {
    transform: scale(1.1);
}
