body {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background-image: url('../imagenes/balonfutsal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.formSugerencia {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #ccc;
    color: white;
    transform: translate(-50%, -50%);
    box-sizing: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.formSugerencia h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.formSugerencia .opcionesSugerencias {
    position: relative;
}

.formSugerencia .opcionesSugerencias input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}

.formSugerencia .opcionesSugerencias input::placeholder {
    color: #fff;
    font-size: italic;
    font-size: 1.2em;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 5px;
}

.button {
    width: 100%;
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
}

.button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.button:active {
    background-color: #004494;
    transform: scale(1);
}
